* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 130vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr;
}

.sidebar {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    background: darkcyan;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-right: 3px solid black;
}

.header {
    grid-column: 2 / 7;
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content {
    grid-row: 2 / 5;
    grid-column: 2 / 7;
    background: rgba(128, 128, 128, 0.792);
}

.options {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.options2 {
    display: grid;
    grid-row: 5 / 5;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: end;
}

.options, .options2 {
    font-size: 1.2rem;
}

.card-home {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

span {
    align-content: center;
    font-size: 1.5rem;
    color: black;
}

.home {
    justify-self: center;
}

.options img,
.options2 img {
    height: 25px;
    width: 25px;
}

.card-options {
    margin-bottom: 8px;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: start;
}

#search {
    width: 800px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: rgb(211, 211, 211);
}

.search > img {
    height: 100px;
    width: 30px;
    margin-left: 50px;
    margin-right: 20px;
}

.profile {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.profile-pic {
    grid-column: 3 / 4;
}

.bell {
    grid-column: 2 / 3;
}

.profile-name {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
}

.notifications {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    align-items: center;
}

.profile-photo {
    justify-self: end;
    margin-right: 20px;
}

.profile-nickname {
    font-size: 1.4rem;
    font-weight: bold;
}

.welcome-message {
    grid-column: 2 / 3; 
}

button {
    border-radius: 15px;
    color: white;
    background: darkcyan;
    font-size: 1.2rem;
    padding: 0.7rem 1.2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    border-top: 4px solid black;
}

.left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
}

.card-project {
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background: wheat;
}

.left-side h2 {
    grid-column: 1 / 3;
    margin: 1rem;
}

.actions > img {
    width: 25px;
}

.trending img {
    width: 30px;
}

.right-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-left: 5px solid black;
    padding-left: 1rem;
}

.announcements h2 {
    margin: 1rem;
}
.announcement {
    background: wheat;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.friend {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
}

.friend img {
    grid-row: 1 / 3;
    width: 100%;
}

.nick-name {
    align-self: end;
}

